<p>about works!</p>
<div class=" mt-5 card " id="about">
    <div class="gap">
      
    </div>
<div class="row response">
  <div class="col-sm-12 col-lg-4 col-md-4">
    <img class="img1" src="./image/1683020754424.jpg">
  </div>

<div class="card col-sm-12 col-lg-8 col-md-8">
  
  <h1>About Me</h1>
  
  <h5 class="gray">I'm a <b>Full Stack Developer</b> with experience in both front-end and back-end technologies.</h5>

<div class="row response">
  <div class="col-sm-6">
<h3>Name:</h3>


  </div>
  <div class="col-sm-6 gray">
    <h3>RAGULPRIYAN M</h3>
  </div>
</div>
  <div class="row response">
    <div class="col-sm-6">
      <h3>Date of Birth:</h3>
    </div>
    <div class="col-sm-6 gray">
      <h3>April 8</h3>
    </div>
  </div>
  <div class="row response">
    <div class="col-sm-6">
      <h3>Address:</h3>
    </div>
    <div class="col-sm-6 gray">
      <h3>Alapuram Nadur(vill&po) Dharmapuri</h3>
    </div>
  </div>
  <div class="row response">
    <div class="col-sm-6">
      <h3>Pincode:</h3>
    </div>
    <div class="col-sm-6 gray">
      <h3>636904</h3> 
    </div>
  </div>

 
  <div class="row response">
    <div class="col-sm-6">
    <h3>Email:</h3>
    </div>
    <div class="col-sm-6 gray">
      <h3>ragulpriyanjoy@gmail.com</h3>
    </div>
  </div>
  <div class="row response">
    <div class="col-sm-6">
      <h3>PhoneNo:</h3>
    </div>
    <div class="col-sm-6 gray">
      <h3>9025519230</h3>
    </div>
  </div>
  <!-- <div>
    <a href="https://preview.colorlib.com/#ronaldo" class="webbtn">Download Resume</a>
  </div> -->

</div>

</div>
  </div>