<div class="navigation-wrap bg-light start-header start-style position">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon iconbar"></span>
          </button>
          
          <h2 class="namer"><strong >R</strong>AGULPRIYAN</h2>
          <div class="collapse navbar-collapse style" id="navbarSupportedContent">
            
            <ul class="navbar-nav ml-auto py-4 py-md-0">
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                <a class="nav-link dropdown-toggle"  routerLink="/home" role="button" aria-haspopup="true" aria-expanded="false">Home</a>


              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" routerLink="/about">About</a>
              </li>
              <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#resume">Academic</a>
              </li> -->
              <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="#Knowns">Knowns</a>
              </li> -->
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 ">
                <a class="nav-link" routerLink="/knowns">Knowns</a>
              
              </li>
              
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" routerLink="/contact">Contact</a>
              </li>
            </ul>
          </div>
          
        </nav>    
      </div>
    </div>
  </div>
</div>
<nav>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <div class="row">
        
      </div>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>

<!-- <app-about></app-about>
<app-knowns></app-knowns>
<app-contacts></app-contacts> -->