<section class="mt-5 img2 contact-sec sec-pad" id="contact">
    <div class="gap">
  
    </div>
    <div class="container">
      <div class="row response">
        <div class="col-md-6">
          <div class="contact-detail">
            <h1 class="section-title">Contact us</h1>
  
            <ul class="contact-ul">
              <li>
  
                <i class="bi bi-geo-alt-fill"></i>
                <a href="https://www.google.com/maps/place/Alapuram+Nadur/@12.1065548,78.1335503,17z/data=!3m1!4b1!4m6!3m5!1s0x3bac1748c1fa8c29:0x5994eca6ed0763d4!8m2!3d12.1065548!4d78.1361252!16s%2Fg%2F11gmwm2wzs"><b>146, Alapuram Nadur,
                    Dharmapuri,Tamilnadu</b></a>
              </li>
  
              <li>
                <i class="bi bi-telephone-plus"></i>
                <a href="tel:9025519230"><b>9025519230</b></a>
  
              </li>
  
              <li>
                <i class="bi bi-envelope"></i>
                <a href="mailto:ragulpriyanjoy@gmail.com"><b> ragulpriyanjoy@gmail.com</b></a>
              </li>
            </ul>
  
            <span></span>
              <!-- <a href="https://www.facebook.com/ragul.priyan.790/" class="fb"><img src="./image/icons8-facebook.svg"></img></a> -->
              <!-- <a href="https://www.instagram.com/the_rolex_08/" class="insta"><img src="./image/icons8-instagram.svg"></img></a>
              <a href="https://twitter.com/RagulpriyanM" class="twitter"><img src="./image/icons8-twitter.svg"></img></a>
              <a href="https://github.com/RAGULPRIYAN/Ragul" class="fb"><img src="./image/icons8-github (3).svg"></img></a>
              <a href="https://www.linkedin.com/in/m-ragul-priyan-4b7936195/" class="linked"><img src="./image/icons8-linkedin.svg"></img></a>
            </span> -->
          </div>
        </div>
  
        <div class="col-md-6">
          <form action="#" class="contFrm" id="my-form">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="name" id="name" placeholder="Your Name" class="inptFld" required />
                <span class="spantext" id="nameError">Please enter your Name</span>
              </div>
  
              <div class="col-sm-6">
                <input type="email" id="email" name="email" placeholder="Email Address" class="inptFld" required />
                <span class="spantext" id="emailError">Please enter your Email</span>
              </div>
  
              <div class="col-sm-6">
                <input type="tel" name="phone" id="phone" placeholder="Phone Number" class="inptFld" required />
                <span class="spantext" id="numberError">Please enter your Number</span>
              </div>
  
              <div class="col-sm-6">
                <input type="text" name="sub" id="subject" placeholder="Subject" class="inptFld" required />
                <span class="spantext" id="subjectError">Please enter your Subject</span>
              </div>
  
              <div class="col-12">
                <textarea class="inptFld" rows="" id="message" cols="" placeholder="Your Message..." required></textarea>
                <span class="spantext" id="messageError">Please enter your Message</span>
              </div>
  
              <div class="col-12">
                <button type="button" class="inptBtn" id="submitBtn"  onclick="createuser()">Submit</button>
                <!-- <button type="button" class="inptBtn" name="submit" id="submitBtn" value="SUBMIT" onclick="submituser()">Submit</button> -->
                <!-- <input type="button" name="submit" v onclick="createuser()" class="inptBtn" /> -->
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div style="text-align: center; margin-top: 20px;">
        <p> Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | Ajeet
        </p>
      </div>
  
    </div>
  </section>